---
title: "Let's build the best together"
layout: splash
canonical_url: "https://softeria.io"
classes: wide
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/build-together.jpg
  actions:
    - label: "Learn More"
      url: "https://github.com/mmistakes/minimal-mistakes/"
  og_image: "/assets/images/logo.png"
excerpt: "Strategy. Design. Engineering."
intro:
  - excerpt: softeria.io is an software engineering company
feature_row:
  - image_path: assets/images/agile.jpg
    alt: "placeholder image 1"
    title: "Agile"
    excerpt: "We apply agile practices"
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/innovative.jpg
    alt: "placeholder image 2"
    title: "Innovative"
    excerpt: "An innovative approach"
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/perfectionist.jpg
    alt: "placeholder image 2"
    title: "Perfectionist"
    excerpt: "The best or nothing"
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/consultancy.jpg
    alt: "placeholder image 2"
    title: "Consultancy"
    excerpt: 'We provide exceptional consultancy'
    url: "#test-link"
    btn_label: "Learn More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/development.jpg
    alt: "placeholder image 2"
    title: "Engineering"
    excerpt: 'We have perfectly-crafted engineering solutions for your needs'
    url: "#test-link"
    btn_label: "Learn More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/ai.jpg
    alt: "placeholder image 2"
    title: "AI"
    excerpt: 'Decrease cost, increase revenue with the best-in-hand Artificial Intelligence'
    url: "#test-link"
    btn_label: "Learn More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}
