---
title: "Let's build the best together"
layout: splash
canonical_url: "https://softeria.io"
classes: wide
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/build-together.jpg
  actions:
    - label: "Contact Us"
      url: "mailto:info@softeria.io"
  og_image: "/assets/images/logo.png"
excerpt: "Strategy. Design. Engineering."
intro:
  - excerpt: softeria.io is a software engineering company
feature_row:
  - image_path: assets/images/agile.jpg
    alt: "Agile"
    title: "Agile"
    excerpt: "We apply agile practices"
  - image_path: /assets/images/innovative.jpg
    alt: "Innovative"
    title: "Innovative"
    excerpt: "An innovative approach"
  - image_path: /assets/images/perfectionist.jpg
    alt: "Perfectionist"
    title: "Perfectionist"
    excerpt: "The best or nothing"
feature_row2:
  - image_path: /assets/images/consultancy.jpg
    alt: "Consultancy"
    title: "Consultancy"
    excerpt: 'We provide exceptional consultancy'
feature_row3:
  - image_path: /assets/images/design-and-development.jpg
    alt: "Design and Development"
    title: "Design and Development"
    excerpt: 'We have perfectly-crafted engineering solutions for your needs'
feature_row4:
  - image_path: /assets/images/ai.jpg
    alt: "AI"
    title: "AI"
    excerpt: 'Decrease cost, increase revenue with the best-in-hand Artificial Intelligence'
    url: "mailto:info@softeria.io"
    btn_label: "Contact Us"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %}
